@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* giving default styling usin * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* for smooth behaviour */
html {
    scroll-behavior: smooth;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-image: url(mainhomebackground.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    box-shadow: 0 0 22px #202020;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    transition: .6s;
}

nav.sticky {
    background: #202020;
    height: 80px;
    transition: .6s;
    z-index: 2;
}

nav img {  
    height: 80px; 
    width: 10%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-dodge;
    transition: .6s;
} 

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    position: relative;
    font-size:1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 20px;
    padding: 5px;
    top:20px;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav button {
    position: relative;
    left: -3px;
    font-size:1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 20px;
    padding: 5px;
    top:20px;
}

nav .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

nav .btnlogin-popup:hover {
    background: #fff;
    color: #162938;   
}

/* h1 */
header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 125px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: .6s;
}


header p {
    font-size: 20px;
    margin: 0.5 rem 0;
    color: #fff;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* explore button */
header a.explore {
    background-color: #fff;
    color: #333;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 1rem;
    transition: 0.6s;
}

header a.explore:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: .6s;
    transform: scale(1.1);
}

/* wrapper class */
.wrapper {
    position:fixed;
    top : 20vh;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 999;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width:100%;
    padding: 40px;
}

.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
 }

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height:50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between; 
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}

/* content containing social elements on left side  */
#content {
    top:50%;
    left: 0;
    position: fixed;
    z-index: 4;
}

#content ul {
    padding: initial;
}

#content ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color:#fff;
    transition: .6s;
}

/* twitter */
#content .twitter {
    background: #55acee;
}

/* facebook */
#content .facebook {
    background: #3b5998;
}

/* instagram */
#content .instagram {
    background: crimson;
}

/* linkedin */
#content .linkedin {
    background: #007bb5;
}

#content ul li:hover {
    padding-left: 20px;
    width: 50px;
    transition: .6s;
    transform: translateY(-10%);
}

/* service boxes  */
#services {
    padding: 4rem 0;
    text-align: center;
}

#services h2 {
    margin-bottom: 5rem;
}

.service-box {
    width: 30%;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 0 22px #333;
    border-radius: 5%;
    transition: 0.8s;
    background-color: #dddddd;
}

.service-box img {
    width: 150px;
    margin-bottom: 45px;
    padding: 1rem 0;
    border-radius: 50%;
    transition: 0.8s;
}
.service-box h3 {
    margin-bottom: 40px;
    font-weight: bold;
}

.service-box p {
    font-size: 14px;
    margin-bottom: 20px;
}

.service-box:hover {
    background-color: #ffffff;
    border-radius: 10%;
    color: #000000;
    transition: 0.8s;
    transform: scale(1.1);
}

.service-box:hover img {
    transform: scale(1.5);
    transition: 0.8s;
}

/* feature section */
.feature {
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 40px;
}

.feature .column-1 {
    width:100%;
}

.feature .col-1 img {
    width: 55%;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 30px #333;
}

.feature .column-2 img {
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 30px #333;
}

.feature h2 {
    margin-top: 90px;
    margin-left: 0;
    font-weight: bold;
    line-height: 50px;
}

.feature p {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 18px;
}

.feature .row-1 {
    display: flex;
    padding: 50px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: stretch;
}

.feature .row-2 {
    display: flex;
    padding: 50px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: stretch;
}

.feature .col-2 {
    transition: .6s;
}

.feature .col-2:hover {
    transform: translateX(-50px);
}

.feature .column-1 {
    margin-left: 50px;
    transition: .6s;
}

.feature .column-1:hover {
    transform: translateX(50px);
}

/* about page  */
#about {
    padding: 50px 8%;
    line-height: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    box-shadow: 0 0 22px #333;
    border-radius: 20%;
}

#about img {
    margin-top: 50px;
    width: 580px;
}

#about .matter {
    margin-left: 30px;
}

.matter .span {
    align-items: flex-end;
}

/* Us */
#team {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 220px;
    height: 220px;
    background:#fff;
    border-radius: 70%;
    box-shadow: 0 0 22px #202020;
    transition: .6s;
    margin: 0 30px;
}

.profile-card:hover {
    border-radius: 5px;
    height: 280px;
}
.profile-card .image {
    position: relative;
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    border-radius: 60%;
    box-shadow: 0 0 22px #202020;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-60px);
}

.caption {
    text-align: center;
    transform: translateY(-110px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 100;
}
.caption h2 {
    font-size: 20px;
}
.caption p {
    font-size: 17px;
    margin: 2px 0 6px 0;
}

#socialinks {
    list-style-type: none;
}


#socialinks a li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 0;
    color: blue;
    padding: 2px;
}

/* footer */
footer {
    background: #333;
    color:#fff;
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 22px #333;
    border-radius: 10px;
}

footer h2 {
    color: #fff;
    font-weight: 600;
    margin: 30px 0;
}

footer input {
    width: 60%;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}

footer::placeholder {
    color: gray;
    font-size: 13px;
}

footer button {
    padding: 6px;
    width: 180px;
    margin: auto;
    display: block;
    color: #ffffff;
    border: 1px solid #fff;
    font-size: 20px;
    background: transparent;
    transition: .6s;
}

footer button:hover {
    background: #fff;
    color: black;
    border-radius: 5px;
    transition: .6s;
}

footer p {
    font-size: 1rem;
    margin: 10px;
}

footer small {
    font-size: 14px;
    padding: 30px;
    color: #fff;
    display: block;
}
